
body {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
}

.top,
.footer {
    background-color: #1f2937;
}

.content-btm {
    background-color: #E5E7EB;
    justify-content: center;
    flex: 1;
}

.dark-blue {
    color: #1f2937;
}

.white, 
a,
button {
    color: #E5E7EB;
}

button {
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
}

/* CSS for header in top of the website */
.container {
    width: 900px;
}

.top .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

ul {
    padding: 0px;
    margin: 0px;
    gap: 20px;
}

a {
    text-decoration: none;
}

.logo {
    margin: 0px;
    font-weight: 950;
    font-size: 28px;
}

#h {
    padding-left: 0px;
    margin-left: 0px;
}

.intro {
    gap: 10px;
    padding: 50px 0px;
    justify-content: space-between;
}

.img {
    align-items: center;
    background-color: #8b8b8bce;
    height: 200px;
    width: 400px;
}
.left {
    width: 400px;
}

.btn-1 {
    background-color: #3882f6;
    border: 0;
}

/* This CSS affects content part of landing page, specifically content-top and content-btm */
.content-top {
    text-align: center;
    padding-bottom: 30px;
}

.content-top h2 {
    margin: 30px;
}

.images {
    gap: 60px;
}

 .image-des {
    width: 150px;
    height: 150px;
    border: 4px #3882f6 solid;
    border-radius: 12px;
 }

 .images div {
    width: 150px;
    color: #8b8b8bce;
 }

/* From here is the CSS for bottom content */
.quote {
    flex-direction: column;
    width: 700px;
    padding: 60px;
}

.quote p {
    font-size: 24px;
    font-style: italic;
    margin: 0;
}
.quote strong {
    font-size: 18px;
    align-self: flex-end;
}

/* CSS after this comment is for call to action section of the website  */
.action-div {
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    margin: 60px auto;
    background-color: #3882f6;
    padding: 20px 150px;
    width: 900px;
    height: 120px;
    border-radius: 20px;
}

.action-div .text {
    flex-direction: column;
    gap: 10px;
}

.action-div .text *{
    margin: 0px;
}

.action-div .text strong{
    font-size: 20px;
}

.action-div button {
    background-color: #8b8b8b00;
    border-color: #E5E7EB;
    border-style: solid;
}

/* This is footer section */
.footer {
    padding: 30px;
    text-align: center;
    font-size: 16px;
}