body {
    display: flex;
    flex-direction: column;
    height: 100px;
}
div {
    flex: 1;
}
.top,
.footer {
    flex: 1;
    background-color: #1f2937;
}
.content-btm {
    background-color: #E5E7EB;
    flex: 1;
}