
body {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
}

.top,
.footer {
    background-color: #1f2937;
}

.content-btm {
    background-color: #E5E7EB;
    flex: 1;
}

.dark-blue {
    color: #1f2937;
}

.white, 
a,
button {
    color: #E5E7EB;
    padding: 10px 20px;
}

button {
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
}

/* CSS for header in top of the website */
.container {
    width: 900px;
}

.top .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

ul {
    padding: 0px;
    margin: 0px;
    gap: 16px;
}

a {
    text-decoration: none;
}

.logo {
    margin: 0px;
}

.intro {
    gap: 10px;
    padding: 50px 0px;
    justify-content: space-between;
}

.img {
    align-items: center;
    background-color: #8b8b8bce;
    height: 200px;
    width: 400px;
}
.left {
    width: 400px;
}

.btn-1 {
    background-color: #3882f6;
    border: 0;
}

/* This CSS affects content part of landing page, specifically content-top and content-btm */
.content-top {
    text-align: center;
}
